.navContainer{
    display: flex;
    /* background: red; */
    height:10vh;
    position: fixed;
    z-index: 10;
    width: 100%;
    bottom: 0;
    justify-content: center;
    align-items: center;

    nav{
        background: var(--color-nav);
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        border-radius: 50px;
        font-size: 150%;
        position: relative;

        .link{
            color: var(--color-bg);
        }

        #addPostNavButton{
            scale: 1.5;
            border: 1px solid;
            width: 35px;
            height: 35px;
            position: relative;
            margin-top: -20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            text-decoration: none;
            align-items: center;
            background: var(--color-nav);
        }
        #addPostNavButton:hover{
            scale: 1.7;
            margin-top: -30px;
        }
    }
}